@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", "Inter", sans-serif;
}

.akarna-button {
  @apply btn;

  &.blue_background {
    @apply btn-primary;
  }

  &.brown {
    @apply btn-secondary btn-outline;
  }
}
